grpc:
  server:
    port: 0

spring:
  jpa:
    hibernate:
      ddl-auto: create # test
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:tc:mysql:///
    username:
    password:
    hikari:
      maximum-pool-size: 5
  redis:
    host: localhost
    port: 6379

springdoc:
  swagger-ui:
    base-package: com.ssu.commerce.book
    title: book api
    version: 1.0

logging:
  level:
    p6spy: info
